---
layout: default
title: Regenerative Biology
description: Injury and Stress Response
featured_image: /images/covers/Regeneratorstein.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<!--<div class="hero__overlay"></div>-->
	</div>

	<div class="wrap">
		<h1>Regenerative Biology</h1>
        <!--<h2 style="color:lightcyan;"><i>Biologie régénérative</i></h2>-->
        
		{% include socials.html %}

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			
            
            <h3>Welcome to the Singh Lab</h3>
            
            <p>
            Our research is driven by a passion to uncover the fundamental mechanisms that govern liver health and regeneration. The liver stands as a unique organ with unparalleled regenerative capacity, capable of restoring itself after injury or stress. From the myth of Prometheus to modern medicine, the liver's resilience inspires our pursuit of understanding how organs recover and adapt under various conditions.
            </p>
            
            <p>
            At the Singh Lab, we explore the dynamic interplay between cellular plasticity, organ repair, and stress-induced dysfunction. Our work spans key areas of liver biology, including the mechanisms driving regeneration during developmental growth spurts, the role of cholangiocyte-to-hepatocyte transdifferentiation, and the cellular responses to starvation-induced fatty liver and alcoholic liver disease. These diverse themes converge on a singular goal: to understand the robustness of biological systems and how they can be harnessed to improve outcomes in liver injury and disease. 
            </p>
            
            <p>
            We use zebrafish as a model organism, leveraging its remarkable regenerative abilities and the unique transparency of its larvae, which provides a real-time view of cellular dynamics during injury and stress. Advanced imaging techniques, state-of-the-art transcriptomics, gene editing, and transgenics are central to our approach, enabling us to ask and answer fundamental questions about regeneration and resilience. 
            </p>
            
            <p>
            Our lab combines curiosity-driven research with a vision to translate these insights into meaningful advances in liver health. Explore our <a target="_self" href="https://sumeetpalsingh.github.io/blog/">work</a> and <a target="_self" href="https://sumeetpalsingh.github.io/publications">publications</a> to discover how we strive to decode the secrets of regeneration and resilience in biological systems. 
            </p>
            
            <div class="gallery" data-columns="1">
                <img src="/images/slideshow/Regeneration_GreenT.jpg">
                <img src="/images/slideshow/Liver.jpg">
                <img src="/images/slideshow/LiverRegeneration.jpg">
                <img src="/images/slideshow/Thyroid adult_flt1.jpg">
            </div>
            
            <p>
            We are situated in the Brussels, the capital of European Union. Feel free to <a target="_self" href="https://sumeetpalsingh.github.io/contact">contact us</a>. 
            </p>

		</article>

	</div>
    
    

</section>


<!--<section class="single">

	<div class="wrap">

		<article class="single-post">

			
            
            <h3>Vision de la recherche</h3>
            
            <p>
            Bienvenue au laboratoire de biologie régénérative de <a href="https://iribhm.org/" target="_blank" rel="noopener noreferrer">l'IRIBHM</a>, <a href="https://www.ulb.be" target="_blank" rel="noopener noreferrer">ULB</a>. Nous nous intéressons à la compréhension de la capacité des organes à se remettre de blessures et de stress. Par exemple, nous sommes capables de guérir une coupure à notre doigt, même si cela se produit plusieurs fois. Notre sang se régénère après un don de sang en un jour ou deux. Dans la mythologie grecque ancienne, Prométhée était condamné à se faire dévorer chaque jour la moitié de son foie par un aigle, mais le foie se régénérait pendant la nuit - ce qui souligne la capacité de régénération presque infinie du foie. Nous sommes fascinés par une telle robustesse dans les systèmes régénératifs - qui sont la marque d'un système biologique dynamique.
            </p>
            
            <p>
            Pour comprendre la robustesse des systèmes régénératifs, nous explorons trois thèmes principaux : <b>l'adaptation, la plasticité et la mémoire</b>. Nos efforts en cours sont expliqués <a target="_self" href="https://sumeetpalsingh.github.io/research">ici</a>. 
            </p>
            
            <p>
            Pour notre modèle expérimental, nous utilisons le poisson zèbre, qui possède d'étonnantes capacités de régénération. Il est capable de se remettre de la perte complète d'hépatocytes (cellules du foie), d'os ou de cellules bêta du pancréas. Nous utilisons sa capacité régénératrice surnaturelle pour explorer nos thèmes, dans l'espoir que les leçons que nous en tirons puissent être transposées pour améliorer les résultats des blessures humaines. 
            </p>
            
            
            <p>
            Nous sommes situés à Bruxelles, la capitale de l'Union européenne. <a target="_self" href="https://sumeetpalsingh.github.io/contact">N'hésitez pas à nous contacter</a>. 
            </p>

		</article>

	</div>
    -->
    

</section>


<!--
<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>
        
		{% endfor %}

	</div>

</section>-->
