---
layout: default
title: Regenerative Biology
description: Injury and Stress Response
featured_image: /images/covers/Regeneratorstein.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<!--<div class="hero__overlay"></div>-->
	</div>

	<div class="wrap">

		<h1>Regenerative Biology</h1>
        <h1>Biologie régénérative</h1>
		<p>Injury and Stress Response</p>
        <p>La réponse aux blessures et au stress</p>

		{% include socials.html %}

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			
            
            <h3>Research Vision</h3>
            
            <p>
            Welcome to the lab of regenerative biology! We are interested in understanding the ability of organs to recover from injuries and stress. For example, we are able to heal a cut to our finger, even if it happens multiple times. Our blood regenerates after blood donation within a day or two. In ancient Greek mythology, Prometheus was sentenced to having half of his LiverRegeneration eaten by an eagle every day, but the liver would regenerate during the night – highlighting the almost infinite regenerative capacity of the liver. We are fascinated by such robustness in regenerative systems - which are a hallmark of a dynamic biological system.
            </p>
            
            <p>
            To understand the robustness of regenerative systems, we explore three main themes: <b>adaptation, plasticity and memory</b>. Our ongoing efforts are explained below. 
            </p>
            
            <p>
            For our experimental model, we use Zebrafish, which posses amazing regenerative abilities. It is able to recover from complete loss of bone cells or pancreatic beta-cells. We utilize its super-natural regenerative ability to explore our themes, with the hope that the lessons we learn can be translated to improve outcomes of human injury. 
            </p>
            
            <div class="gallery" data-columns="1">
                <img src="/images/gallery/Regeneration_GreenT.jpg">
                <img src="/images/gallery/Liver.jpg">
                <img src="/images/gallery/LiverRegeneration.jpg">
                <img src="/images/gallery/Thyroid adult_flt1.jpg">
            </div>

		</article>

	</div>
    
    

</section>



<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>
        
		{% endfor %}

	</div>

</section>